*{
     box-sizing: border-box;
}
body{
     background-color: #1F2833;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
     margin: 0;
}
.game-over {
     background-color: red;
     opacity: 0.8;
   }
   
canvas{
     background-color:#0B0C10;
     display: block;
     border-radius: 5px;
}
.btn{
     cursor: pointer;
     background-color: #0B0C10;
     color: #45A29E;
     border-radius: 5px;
     padding: 4px 4px;

}
.btn:hover{
   background-color: brown;
}
.btn:active{
     background-color: black;
     transform: scale(0.98);
}

   
li{
     font-size: large;
}
.rules{
    
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1F2833;
    color: #45A29E;
    min-height: 100vh;
   line-height: 1.5;
    width: 500px;
    
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
}

#rules-btn{
     position: absolute;
     top: 0;
     left:0;
     margin-top: 10px;
margin-left: 10px;
}
.show{
     
     transform: translateX(0px);
   }
  
   h2{
     margin-left: 140px;
   }

#close-btn{
     margin-left:140px;
}
   